<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple Todo</title>
</head>
<body>
	<header class="main-header">
	  <h1>simple<span>todo</span></h1>
	  <h2>A simple to-do list developed with VanillaJS</h2>
	  <h3>by Victor Ferreira</h3>
	</header>

	<button onclick="handler.toggleAll()">Toggle all</button>

	<section class="app-insert">
	  <p>Add Task</p><input id="addTodoTextInput" type="text" placeholder="Insert your task here...">
	  <!-- <button onclick="handler.addTodo()">Add</button> -->
	</section>

	<!-- <section>
	  <input type="number" id="changeTodoPositionInput">
	  <input type="text" id="changeTodoTextInput">
	  <button onclick="handler.changeTodo()">Change Todo</button>
	</section> -->
	
<!--   <section>
  <input type="number" id="toggleCompletedPositionInput">
  <button onclick="handler.toggleCompleted()">toggle ToDo</button>
</section> -->

	<section class="app-list">
	  <ul id="task-list"></ul>
	</section>
	<script src="hello.js"></script>
</body>
</html>