body {
  margin: 0 auto;
  max-width: 50em;
}

.toggled{
  text-decoration: line-through;
}

#deleteButton {
  color: red;
}

li {
  font-size: 15px;
}

label {
  padding-right: 30px;
  padding-left: 10px;
}